{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog mede by aklekotka</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
      <header>
        <div id="header">
            <h1><a href="">Django Girls Blog by aklekotka</a></h1>
        </div>
      </header>
      <section>
        {{posts}}
{% for post in posts %}
        <div>
            <h2><a href="">{{ post.title }}</a></h2>
            <p class="datePublished">published: {{ post.published_date }}</p>
            <p>{{ post.text|linebreaks }}</p>
        </div>
{% endfor %}
      </section>
    </body>
</html>