body{
  background-color: #ffffff;
  color: #666666;
  font-family: Arial;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
#header{
	background-color: #aaeeff;
	padding: 10px 5px;
	margin: 0;
}

#header h1 a{
	font-size: 200%;
	font-family:'Lobster',Arial;
	text-decoration: none;
	color: #ffffff;
}