body{
  background-color: #ffffff;
  color: #666666;
  font-family: Arial;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
#header{
	background-color: #66ddff;
	padding: 10px 20px;
	margin: 0;
}

#header h1 a{
	font-size: 200%;
	font-family:'Lobster',Arial;
	text-decoration: none;
	color: #ffffff;
}
section{
	padding: 10px 20px;
}
h2{
	margin-bottom: 0;
}
h2 a{
	font-size: 120%;
	font-family:'Lobster',Arial;
	text-decoration: none;
	color: #66ccff;
}
p.datePublished{
	margin: 0;
	color: #cccccc;
	font-style: italic;

}